<%- include('layout/header'); -%>

<div class="row">
    <div class="col-md-6 col-md-offset-6 mx-auto">
        <div>
            <p>Info product
            </p>
        </div>
        <div class="form-group">
            <form id="form1" method="post">
                <input type="text" name="name" placeholder="name" required="" class="form-control"><br/>
                <input type="text" name="type" placeholder="type" required="" class="form-control"><br/>
                <input type="text" name="price" placeholder="price sale" required="" class="form-control"><br/>
                <input type="text" name="image" placeholder="image" required="" class="form-control"><br/>
                <input type="text" name="detail" placeholder="detail" class="form-control"><br/>
                <input type="text" name="discount" placeholder="discount" class="form-control"><br/>
                <input type="submit" value="addProduct" class="btn btn-success">
            </form>
        </div>
        
        <div class="mssg bg-danger">
            <span id="check"></span>
        </div>
        <div>
            <span>Go home! <a href="/">home</a></span>
        </div>
    </div>
</div>
    <script type="text/javascript">
        $(document).ready(function(){

            $( "#form1" ).submit(function(event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/add_product',
                    data: $('#form1').serialize(),
                    dataType: "json",
                    success: function(response){
                        //alert("a");
                        //console.log(response.Success);
                        $('#form1')[0].reset();

                        document.getElementById("check").innerHTML=response.Success;
                                //ADD THIS CODE
                                setTimeout(function(){
                                    document.getElementById("check").innerHTML="";
                                },3000);
                                if (response.Success=="Add product successful") {
                                    document.getElementById("aa").click();
                                };
                            },
                            error: function() {
                            }
                        })
            });
        });
    </script>

<%- include('layout/footer'); -%>